<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADmin?</title>
</head>
<body>
    <div class="main">
        <h1 style="position: relative;top: 40%;">{{flag}}</h1>
    </div>
</body>
<style>
    html{
        text-align: center;
        background: chartreuse;
        font-family: monospace;
    }
    .main{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: chartreuse;
    }
    ::selection{
    color: chartreuse;
}
</style>
</html>
