<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tamil CTF</title>
      <link rel="apple-touch-icon" sizes="180x180" href="https://mazipan.github.io/login-page-css/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="https://mazipan.github.io/login-page-css/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="https://mazipan.github.io/login-page-css/favicon/favicon-16x16.png">
      <link rel="manifest" href="https://mazipan.github.io/login-page-css/manifest.json">
      <meta name="msapplication-TileColor" content="#fdcb04">
      <meta name="theme-color" content="#fdcb04">
      <link rel="manifest" href="https://mazipan.github.io/login-page-css/manifest.json">
      <link rel="stylesheet" href="https://mazipan.github.io/login-page-css/normalize.41f8bcf8.css">
      <link rel="stylesheet" href="https://mazipan.github.io/login-page-css/additional.79ec92a1.css">
      <link rel="stylesheet" href="https://mazipan.github.io/login-page-css/style.a42569b1.css">
   </head>
   <body>
      <div class="flex login-screen">
         <div class="login-mangools">
            <div class="flex flex-col items-center login-mangools__bg--small relative">
               <div class="flex shape-top">
                  <svg class="shape-top__big" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                     <defs>
                        <linearGradient id="a" x1="0%" y1="0%" x2="0%" y2="100%">
                           <stop offset="0%" stop-color="#ff5f6d"/>
                           <stop offset="100%" stop-color="#ffc371"/>
                        </linearGradient>
                     </defs>
                     <path d="M429.5 291.5q-65.5 41.5-88 107t-92.5 68Q179 469 116.5 431T71 321.5Q88 250 98.5 199t44-114.5Q176 21 246 34t106.5 64Q389 149 442 199.5t-12.5 92z" fill="url(#a)"/>
                  </svg>
               </div>
               <div class="login-mangools__logo"> <img src="https://i.ibb.co/dDvRpyX/tamilctf.png" alt="logo" height="230px" width="190px"> </div>
               <h2>Dashboard</h2>
               <div class="login-mangools__card">
                  
                  <center>
                  <b>Congratulations again on successfull Admin login !</b>
                  
                  <br><br><br>
                  <b>Flag sent ✅ ✅</b>
                  
               </center>

               </div>
               <div class="flex shape-bottom">
                  <svg viewBox="0 0 500 500" class="shape-bottom__small" xmlns="http://www.w3.org/2000/svg">
                     <defs>
                        <linearGradient id="a" x1="0%" y1="0%" x2="0%" y2="100%">
                           <stop offset="0%" stop-color="#ff5f6d"/>
                           <stop offset="100%" stop-color="#ffc371"/>
                        </linearGradient>
                     </defs>
                     <path d="M408 303q-12 53-53.5 97t-97 21Q202 398 149 380t-84-74q-31-56-10-119t69.5-119q48.5-56 113-17T355 112.5q53 22.5 59 80T408 303z" fill="url(#a)"/>
                  </svg>
               </div>
            </div>
           
<!--             <div class="flex justify-between login-mangools__notes w-full"> <a href=""> Contact </a> <a href="">Privacy Policy </a> <a href="">Terms & Conditions </a> </div> -->
         </div>
      </div>

   </body>
</html>

